<?xml version="1.0"?>
<config>
	<modules>
		<Elgentos_GoogleTagManager>
			<version>0.1.0</version>
		</Elgentos_GoogleTagManager>
	</modules>
	<global>
		<blocks>
			<googletagmanager>
				<class>Elgentos_GoogleTagManager_Block</class>
			</googletagmanager>
		</blocks>
		<helpers>
			<googletagmanager>
				<class>Elgentos_GoogleTagManager_Helper</class>
			</googletagmanager>
		</helpers>
		<models>
			<googletagmanager>
				<class>Elgentos_GoogleTagManager_Model</class>
			</googletagmanager>
		</models>
	</global>
	<frontend>
		<translate>
			<modules>
				<Elgentos_GoogleTagManager>
					<files>
						<default>Elgentos_GoogleTagManager.csv</default>
					</files>
				</Elgentos_GoogleTagManager>
			</modules>
		</translate>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<googletagmanager_order_success>
						<class>googletagmanager/observer</class>
						<method>setGoogleTagManagerTransactionData</method>
					</googletagmanager_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
			<checkout_multishipping_controller_success_action>
				<observers>
					<googletagmanager_order_success>
						<class>googletagmanager/observer</class>
						<method>setGoogleTagManagerTransactionData</method>
					</googletagmanager_order_success>
				</observers>
			</checkout_multishipping_controller_success_action>
		</events>
		<layout>
			<updates>
				<googletagmanager>
					<file>googletagmanager.xml</file>
				</googletagmanager>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Elgentos_GoogleTagManager>
					<files>
						<default>Elgentos_GoogleTagManager.csv</default>
					</files>
				</Elgentos_GoogleTagManager>
			</modules>
		</translate>
	</adminhtml>
</config>