<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_GoogleTagManager>
            <version>1.0.2</version>
        </Elgentos_GoogleTagManager>
    </modules>
    <global>
        <blocks>
            <googletagmanager>
                <class>Elgentos_GoogleTagManager_Block</class>
            </googletagmanager>
            <catalog>
                <rewrite>
                    <product_list_related>Elgentos_GoogleTagManager_Block_Catalog_Product_List_Related</product_list_related>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <googletagmanager>
                <class>Elgentos_GoogleTagManager_Helper</class>
            </googletagmanager>
        </helpers>
        <models>
            <googletagmanager>
                <class>Elgentos_GoogleTagManager_Model</class>
            </googletagmanager>
        </models>
    </global>
    <frontend>
        <translate>
            <modules>
                <Elgentos_GoogleTagManager>
                    <files>
                        <default>Elgentos_GoogleTagManager.csv</default>
                    </files>
                </Elgentos_GoogleTagManager>
            </modules>
        </translate>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <googletagmanager_order_success>
                        <class>googletagmanager/observer</class>
                        <method>setGoogleTagManagerTransactionData</method>
                    </googletagmanager_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <googletagmanager_order_success>
                        <class>googletagmanager/observer</class>
                        <method>setGoogleTagManagerTransactionData</method>
                    </googletagmanager_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <googletagmanager>
                    <file>googletagmanager.xml</file>
                </googletagmanager>
            </updates>
        </layout>
        <events>
            <!-- Devs, use this event to add custom product impressions to the dataLayer. -->
            <!-- Please provide a listname in 'list' parameter and a product collection in 'products' parameter -->
            <elgentos_googletagmanager_product_impressions>
                <observers>
                    <elgentos_googletagmanager_product_impressions>
                        <class>Elgentos_GoogleTagManager_Model_Observer</class>
                        <method>stashProductImpressions</method>
                    </elgentos_googletagmanager_product_impressions>
                </observers>
            </elgentos_googletagmanager_product_impressions>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Elgentos_GoogleTagManager>
                    <files>
                        <default>Elgentos_GoogleTagManager.csv</default>
                    </files>
                </Elgentos_GoogleTagManager>
            </modules>
        </translate>
    </adminhtml>
</config>
